@use 'base/mixins' as m;

.works {
    scroll-margin-top: var(--height-header);

    &__container {
        overflow: hidden;
    }

    &__moving-text {
        display: flex;
        align-items: center;
        border-top: var(--border);
        border-bottom: var(--border);
        width: max-content;
        animation: moving-text 8s infinite linear;

    }

    &__moving-group {
        display: flex;
        align-items: center;
        column-gap: 80px;
        flex-shrink: 0;
        padding-right: 80px;
    }

    &__title {
        @include m.h2(clamp(60px, 3.023rem + 3.636vw, 92px), clamp(100px, 5.568rem + 3.409vw, 133px));
    }
}

.work-card {
    border-bottom: var(--border);

    &__img {
        display: block;
        width: 100%;
        height: auto;
        max-width: 600px;
        object-fit: cover;
    }

    &__caption {
        padding: 20px;
    }

    &__title {
        display: flex;
        column-gap: 12px;
    }

    &__name {
        @include m.parag_s_medium;
        @include m.square_brackets;
    }

    &__name {
        text-transform: uppercase;
        color: #20242F;
    }

    // &__year {
    //     color: #7F7E90;
    //     @include m.parag_s_medium;
    //     @include m.square_brackets;
    // }

    &__description {
        margin-top: 32px;
        color: #20242F;
    }
}