@media (hover: none) {
    .social__link:hover {
        transform: none;
    }
}

@media (min-width: 390px) {
    .hero__title {
        font-size: clamp(3rem, -0.07rem + 12.593vw, 9.375rem);
    }
}

@media (min-width: 650px) {
    .hero {
        &__content {
            display: flex;
        }

        &__description {
            width: 75%;
            padding: 30px 32px;
            border-right: var(--border);
        }

        &__paragraph {
            max-width: 427px;
        }
    }

    .social {
        width: 25%;
        padding: 28px 32px 28px 20px;
    }
}

@media (min-width: 1218px) {

    .hero__title,
    .hero__content {
        border-inline: var(--border);
    }
}