@media (hover: none) {
    .footer {
        &__menu-link:hover,
        &__mail span[aria-hidden]:hover {
            transform: none;
        }
    }
}


@media (min-width: 500px) {
    .footer {
        &__content {
            display: grid;
            grid-template-areas:
                "menu mail"
                "copy copy";
            grid-template-columns: 1fr 1fr;
        }

        &__menu {
            grid-area: menu;
            border-right: var(--border);
        }

        &__mail {
            grid-area: mail;
        }

        &__copy {
            grid-area: copy;
        }

        &__menu,
        &__mail,
        &__copy {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__menu-link {
            display: block;
            text-align: center;
        }
    }
}

@media (min-width: 650px) {
    .footer {
        &__content {
            grid-template-areas:
                "menu mail copy";
            grid-template-columns: repeat(3, 1fr);
        }

        &__mail {
            border-right: var(--border);
            padding: 78px 10px;
        }

        &__menu,
        &__mail {
            border-bottom: none;
        }
    }
}

@media (min-width: 1200px) {
    .footer {
        .container {
            border-inline: var(--border);
        }
    }
}