@use 'base/mixins' as m;

.footer {
    &__content {
        @include m.parag_s_medium;
        text-transform: uppercase;
        border-top: var(--border);
    }

    &__menu {
        padding: var(--footer-padding);
        border-bottom: var(--border);
    }

    &__menu-item {
        padding-bottom: 8px;

        &:last-child {
            padding-bottom: 0;
        }
    }

    &__menu-link {
        display: inline-block;
        transition: transform .2s;

        &:hover {
            transform: scale(1.15);
        }
    }

    &__copy {
        display: flex;
        padding: var(--footer-padding);
    }
}