@media (hover: none) {
    .menu {
        &__item:hover {
            background-color: transparent;
        }

        &__link:hover {
            transform: none;
        }
    }
}

@media (min-width: 1200px) {
    .menu__list {
        border-inline: var(--border);
    }
}