@use 'libs/reboot';
@use 'libs/fonts';

@use 'base/variables' as v;
@use 'base/mixins' as m;

@use 'blocks/header/header';
@use 'blocks/footer/footer';
@use 'blocks/hero/hero';

@use 'blocks/header/header-media';
@use 'blocks/footer/footer-media';
@use 'blocks/hero/hero-media';

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Geist', sans-serif;
    @include m.parag_m_light;
    background-color: var(--main-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

// Прижатый футер начало
html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
    padding-top: 73px; // свойство для активации хэдера на скрол
}
// Прижатый футер конец

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}