@use 'libs/bootstrap-reboot.min';
@use 'libs/fonts';

@use 'base/variables' as v;
@use 'base/mixins' as m;

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

a {
    display: inline-block;

    &:hover {
        text-decoration: none;
    }
}

// Прижатый футер начало
html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}
// Прижатый футер конец